{% extends 'base.html' %}
{% load static crispy_forms_tags %}

{% block title %}
    لاگین
{% endblock title %}

{% block content %}

<!--==========
  Start of login Section ==========-->

<section class="h-100 bg-light">
    <div class="container h-100">
        <div class="row align-items-center h-100 justify-content-center">
            <div class="col-lg-5 col-xl-4 text-center">
                <a class="navbar-brand" href="{% url 'home' %}"> <img alt="Logo" class="logo" src="{% static 'images/logo.svg' %}"> </a>
                <div class="bg-white rounded p-5 mt-4">
                    <h2> خوش آمدید</h2>

                    <!--===== Start of form =====-->
                    <form class="mt-4" method='POST'>
                        <div class="mt-3" >
                            {% csrf_token %}
                            {{ form|crispy }}
                        </div>
                        <div class="ms-sm-auto mb-3 mt-2">
                            <a class="" href="{% url 'password_reset' %}"> رمز عبور را فراموش کرده اید؟</a>
                        </div>
                        <div class="mb-3 d-grid">
                            <button class="btn btn-gradient btn-rounded" type="submit">ورود</button>
                        </div>
                    </form>
                    <!--===== End of form =====-->

                </div>
                <p class="mt-4">هنوز ثبت نام نکرده اید؟<a href="{% url 'signup' %}"> یک حساب کاربری ایجاد کنید</a></p>
            </div>
        </div>
    </div>
</section>

<!--==========
  End of login Section ==========-->

{% endblock content %}