{% extends 'base.html' %}
{% load static crispy_forms_tags %}

{% block title %}
    فراموشی رمز عبور
{% endblock title %}

{% block content %}
    <section class="h-100 bg-light">
        <div class="container h-100">
            <div class="row align-items-center h-100 justify-content-center">
                <div class="col-lg-5 col-xl-4 text-center">
                    <a class="navbar-brand" href="index.html"> <img alt="Logo" class="logo" src="{% static 'images/logo.svg' %}"> </a>
                    <div class="bg-white rounded p-5 mt-4">
                        <h2> فراموشی رمز عبور </h2>

                        <!--===== Start of form =====-->
                        <form class="mt-4" method="POST">
                            <div class="mt-3" >
                                {% csrf_token %}
                                {{ form|crispy }}
                            </div>
                            {% comment %} <div class="ms-sm-auto mb-3">
                                <a class="" href="{% url 'password_reset' %}"> رمز عبور را فراموش کرده اید؟</a>
                            </div> {% endcomment %}
                            <div class="mb-3 d-grid mt-4">
                                <button class="btn btn-gradient btn-rounded" type="submit">فراموشی</button>
                            </div>
                        </form>
                        <!--===== End of form =====-->

                    </div>
                    <p class="mt-4">آیا از قبل یک حساب دارید؟<a href="{% url 'login' %}"> وارد شوید</a></p>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}