{% extends 'base.html' %}
{% load static %}

{% block title %}
خانه
{% endblock title %}

{% block content %}
<!--==========
  Start of Blog section ==========-->

<section class="slice-ptb">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 col-xl-8">

                <!--===== Start of blog =====-->
                {% for post in posts %}
                    <div class="blog-post-article">
                        <div class="row">
                            <div class="col-lg-2 text-lg-center mb-lg-0 mb-3">
                                <div class="blog-post-img mb-3">
                                    {% if post.cover %}
                                        <img alt="" class="img-fluid rounded" src="{{ post.cover.url }}">

                                    {% else %}

                                        <img alt="" class="img-fluid rounded" src="{% static 'images/nothing.jpeg' %}">
                                    
                                    {% endif %}
                                </div>
                                <div class="blog-post-info">
                                    <h6 class="mb-0"><a href="#">{{ post.author|title }}</a></h6>
                                    <span>{{ post.created_date }}</span>
                                </div>
                            </div>
                            <div class="col-lg-10">
                                <div class="blog-post-content">
                                    <h4><a href="{% url 'detail' post.slug %}">{{ post.title }}</a></h4>
                                    <ul class="other-info d-flex flex-wrap list-unstyled mt-3">
                                        <li class="pe-3">
                                            <a href="{% url 'category' %}"><i class="far fa-folder-open pe-1"></i>{{ post.category.name|title }}</a>
                                        </li>
                                        <li class="pe-3"><a href="#"><i class="far fa-comments pe-1"></i> نظر (10) </a>
                                        </li>
                                        <li><a href="#"><i class="far fa-heart pe-1"></i> 6.2 هزار </a></li>
                                    </ul>
                                    <a class="btn btn-naked btn-icon-right" href="{% url 'detail' post.slug %}">ادامه مطلب <i
                                            class="fas fa-angle-left"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-lg-10 col-xl-8">
                            <hr class="mt-4 mb-5"/>
                        </div>
                    </div>
                {% endfor %}
                <!--===== End of blog =====-->

            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-10 col-xl-8">
                <hr class="mt-4 mb-5" />
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 mt-4">

                <!--===== Start of pagination =====-->
                <nav aria-label="...">
                    <ul class="pagination justify-content-center">
                        {% comment %} {% if page_obj.has_previous %}
                        
                            <li class="page-item">
                                <a aria-disabled="true" class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1"> <i
                                        class="feather icon-arrow-right pe-2"></i> قبلی </a>
                            </li>
                            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>
                            
                        {% endif %}
                        <li aria-current="page" class="page-item active">
                            <a class="page-link" href="#">{{ page_obj.number }}</a>
                        </li>

                        {% if page_obj.has_next %}
                            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}">بعدی <i class="feather icon-arrow-left ps-2"></i></a>
                            </li>
                        {% endif %} {% endcomment %}
                        {% for page_number in page_obj.paginator.get_elided_page_range %}
                        {% if page_number == page_obj.paginator.ELLIPSIS %}
                            {{page_number}}
                        {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a></li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                </nav>
                <!--===== End of pagination =====-->

            </div>
        </div>
    </div>
</section>

<!--==========
  End of blog section ==========-->


{% endblock content %}