{% load static %}

<!DOCTYPE html>
<html dir="rtl" lang="fa">

<head>
    <!--===== Required meta tags =====-->
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="Infinitysoftway" name="author" />
    <meta content="statistic charts" name="description">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport" />

    <!--===== Title =====-->
    <title>{% block title %}{% endblock title %}</title>

    <!--===== Favicon =====-->
    <link href="{% static 'images/favicon.ico' %}" rel="shortcut icon" />

    <!--===== Google fonts =====-->
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Jost:wght@300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <!--===== Global bootstrap required css =====-->
    <link href="{% static 'css/bootstrap/bootstrap.min.css' %}" rel="stylesheet">

    <!--===== Global styles including: Font Icons, Plugins, etc =====-->
    <link href="{% static 'css/font-awesome/all.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/feather/iconfont.css' %}" rel="stylesheet">
    <link href="{% static 'css/pe-icon-stroke/Pe-icon-7-stroke.css' %}" rel="stylesheet">
    <link href="{% static 'css/simple-line-icons/simple-line-icons.css' %}" rel="stylesheet">
    <link href="{% static 'css/themify-icons/themify-icons.css' %}" rel="stylesheet">
    <link href="{% static 'css/pe-icon-stroke/Pe-icon-7-stroke.css' %}" rel="stylesheet">
    <link href="{% static 'css/swiper/swiper.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/magnific-popup/magnific-popup.css' %}" rel="stylesheet">
    <link href="{% static 'css/mCustomScrollbar/jquery.mCustomScrollbar.min.css' %}" rel="stylesheet">

    <!--===== Main theme css =====-->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <!--===== Custom Font css =====-->
    <link href="{% static 'css/custom-font.css' %}" media="all" rel="stylesheet" type="text/css">

</head>

<body class="stokes-wrapper">


    <!--========== 
  Start of Header Section ==========-->

    <header class="header">

        <!--===== Start of navbar =====-->
        <nav class="navbar navbar-light navbar-expand-lg navbar-default navbar-dark">
            <div class="container-fluid">

                <!--===== Start of logo =====-->
                <a class="navbar-brand" href="index.html"> <img alt="" class="logo"
                        src="{% static 'images/logo-light.svg' %}"> </a>
                <!--===== End of logo =====-->

                <button aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation"
                    class="navbar-toggler collapsed" data-bs-target="#navbarCollapse" data-bs-toggle="collapse"
                    type="button">
                    <span class="icon-bar top-bar mt-0"></span>
                    <span class="icon-bar middle-bar"></span>
                    <span class="icon-bar bottom-bar"></span>
                </button>

                <!--===== Start of nav =====-->
                <div class="collapse navbar-collapse justify-content-center" id="navbarCollapse">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown mega-dropdown">
                            <a href="{% url 'home' %}" class="nav-link nav-item"><span class="text-line">صفحه
                                    اصلی</span></a>
                        </li>

                        {% if user.is_authenticated %}
                        <li class="nav-item dropdown mega-dropdown">
                            <p class="nav-link nav-item"><span class="text-line">{{ user.username }}</span></p>
                        </li>

                        {% else %}
                            <li class="nav-item dropdown">
                                <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle"
                                    data-bs-toggle="dropdown" href="#" id="navbar-pages">
                                    <span class="text-line"> صفحات </span>
                                </a>
                                <ul aria-labelledby="navbar-pages" class="dropdown-menu">
                                    <li class="dropdown-submenu">
                                        <a class="dropdown-item dropdown-toggle" href="#"><span class="text-line"> ورود
                                            </span></a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="page-login.html"><span class="text-line">
                                                        ورود </span></a></li>
                                            <li><a class="dropdown-item" href="{% url 'account_login' %}"><span
                                                        class="text-line"> ورود ساده </span></a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li class="dropdown-submenu">
                                        <a class="dropdown-item dropdown-toggle" href="#"><span class="text-line"> ثبت نام
                                            </span></a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="page-register.html"><span class="text-line">
                                                        ثبت نام </span></a>
                                            </li>
                                            <li><a class="dropdown-item" href="{% url 'account_signup' %}"><span
                                                        class="text-line"> ثبت نام ساده </span></a></li>
                                        </ul>
                                    </li>

                                    <li class="dropdown-submenu">
                                        <a class="dropdown-item dropdown-toggle" href="#"><span class="text-line"> فراموشی
                                                رمز عبور </span></a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="page-forgot-password.html"><span
                                                        class="text-line"> فراموشی رمز عبور </span></a></li>
                                            <li><a class="dropdown-item" href="page-forgot-password-simple.html"><span
                                                        class="text-line"> فراموشی رمز عبور ساده </span></a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        {% endif %}
                    </ul>
                </div>
                <div class="navbar-icons list-unstyled mb-0 ms-auto">

                    <!--===== Start of search =====-->
                    <div class="search-box">
                        <a class="search-icon icon" href="#search">
                            <i class="feather icon-search"></i>
                        </a>
                        <div class="fade" id="search">
                            <a class="close-btn" href="#" id="close-search">
                                <i class="feather icon-x"></i>
                            </a>
                            <form class="form-border-bottom w-100">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-12">
                                            <input class="form-control bg-transparent" placeholder="دنبال چی میگردی..."
                                                type="text">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!--===== End of search =====-->
                </div>
                <!--===== End of nav =====-->

            </div>
        </nav>
        <!--===== End of navbar =====-->

    </header>

    <!--========== 
  End of header ==========-->


    <!--========== 
  Start of Content ==========-->

    {% block content %}{% endblock content %}

    <!--========== 
  Start of footer section ==========-->

    <footer class="py-9 bg-fit" data-jarallax='{"speed": 0.4}'
        style="background: url({% static 'images/personal/03.jpg' %});">
        <div class="container">

            <!--===== Start of row =====-->
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <h2 class="text-white display-4 mb-5">منو پیدا کن در:</h2>
                    <div class="social-icons social-icon-text icon-colored justify-content-center mb-5">
                        <a class="icon twitter" href="#"> <i class="fab fa-twitter"></i> <span> توییتر</span></a>
                        <a class="icon instagram" href="https://instagram.com/shahrokh.py"> <i
                                class="fab fa-instagram"></i> <span>اینستاگرام</span> </a>
                    </div>
                </div>
            </div>
            <!--===== End of row =====-->

        </div>
    </footer>

    <!--========== 
  End of footer section ==========-->



    <!--========== 
  Start of back to top section ==========-->

    <div class="go-top">
        <p class="go-top-text">رفتن به بالا <i class="fas fa-long-arrow-alt-left ps-2"></i></p>
    </div>

    <!--========== 
  End of back to top section ==========-->


    <!--========== 
  Start of Javascript ==========-->

    <!--===== Global required js =====-->
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>

    <!--===== Global script: js libraries and plugins =====-->
    <script src="{% static 'js/appear/jquery.appear.js' %}"></script>
    <script src="{% static 'js/swiper/swiper.min.js' %}"></script>
    <script src="{% static 'js/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/isotope/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'js/typer/typer.js' %}"></script>
    <script src="{% static 'js/jarallax/jarallax.min.js' %}"></script>
    <script src="{% static 'js/mCustomScrollbar/jquery.mCustomScrollbar.min.js' %}"></script>

    <!--===== Main theme script =====-->
    <script src="{% static 'js/functions.js' %}"></script>

    <!--==========
End of Javascript ==========-->


</body>

</html>